.u-progress {
    &__line {
        width: 100%;
        pointer-events: none;
        cursor: default;
        overflow: hidden;
        &-current {
            background: $color-yellow-1;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .4s;
            z-index: -1;
        }
    }
}

.aside {
    &__inner {
        padding: 40px;
        border-radius: 24px;
        &--theme {
            &-gray {
                background: rgba($color-gray-1, .88);
                color: $color-black-1;
            }
            &-red {
                background: $gradient-red-1;
                color: $color-white-1;
            }
            &-green {
                background: $gradient-green-1;
                color: $color-white-1;
            }
        }
        & > :last-child {
            margin-bottom: 0;
        }
    }
    &__icon {
        width: 44px;
        height: auto;
        margin: 0 0 32px;
        display: block;
    }
    &__slide {
        display: none;
    }
    &__header {
        margin: 0 0 32px;
        display: flex;
        align-items: center;
        &-icon {
            width: 44px;
            height: auto;
            margin: 0 32px 0 0;
        }
        &-dots {
            display: flex;
            align-items: center;
            span {
                background: $gradient-blue-1;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                & + span{
                    margin-left: 14px;
                }
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    animation: 1s linear loader-dots forwards infinite;
                }
                &:nth-child(1) {
                    animation-delay: .24s;
                }
                &:nth-child(2) {
                    animation-delay: .12s;
                }
                &:nth-child(3) {
                    animation-delay: 0;
                }
            }
        }
        &-text {
            margin-left: -10px;
            &-title {
                margin: 0 0 4px;
            }
            &-email {
                margin: 0;
                font-weight: bold;
            }
        }
    }
    &__title {
        margin: 0 0 12px;
    }
    &__text {
        margin: 0 0 32px;
    }
    &__prev-link {
        margin: 0 0 16px;
    }
    &__form {
        &-input {
        }
        &-btn {
            width: 100%;
            margin: 32px 0 12px;
        }
    }
    &__footer {
        margin: 0;
        font-size: 12px;
        color: rgba($color-black-1, .5);
        text-align: center;
    }
    &__progress {
        margin: 0 0 12px;
    }
}

@keyframes loader-dots {
    0%,
    100% {
        opacity: 0;
        visibility: hidden;
    }
    50% {
        opacity: 1;
        visibility: visible;
    }
}

.layout {
    overflow: hidden;
    &__result {
        &-content {
            padding: 40px;
            &-title {
                margin: 0 0 40px;
            }
            &-list {
                margin: 0 0 40px;
                &-line {
                    & + & {
                        margin-top: 20px;
                    }
                }
            }
            &-media {
                margin: 0 0 16px;
                &-row {
                    margin: -4px;
                    display: flex;
                    flex-wrap: wrap;
                    &-col {
                        max-width: 12.5%;
                        padding: 4px;
                        flex: 0 0 12.5%;
                    }
                }
            }
            &-access-password {
                background: rgba($color-yellow-1, .24);
                padding: 12px;
                display: block;
                font-weight: 600;
                font-size: 12px;
                color: $color-brown-1;
                text-align: center;
                border-radius: 8px;
            }
        }
        &-footer {
            background: rgba($color-green-1, .2);
            padding: 40px;
            &-title {
                margin: 0 0 12px;
            }
            &-text {
                margin: 0 0 28px;
            }
            &-btn {
            }
        }
    }
    &__protect {
        padding: 40px;
        &-title {
            margin: 0 0 32px;
        }
        &-body {
            margin: 0 0 24px;
            display: flex;
            justify-content: space-between;
            &-list {
                flex-grow: 1;
            }
            &-aside {
                margin-left: 32px;
                flex: 0 0 138px;
            }
        }
        &-payments {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            &-content {
                padding-right: 32px;
            }
            &-title {
                margin: 0 0 12px;
            }
            &-list {
                margin: -4px;
                display: flex;
                &-card {
                    margin: 4px;
                }
            }
            &-btn {
                padding-right: 10px;
                padding-left: 10px;
                flex-grow: 1;
                flex-shrink: 0;
                font-size: 14px;
            }
        }
    }
    &__transfer {
        padding: 52px 40px;
        display: flex;
        align-items: flex-start;
        &-aside {
            margin-right: 32px;
            flex: 0 0 138px;
        }
        &-content {
            flex-grow: 1;
        }
        &-title {
            margin: 0 0 8px;
        }
        &-text {
            margin: 0 0 24px;
            font-size: 12px;
        }
        &-group {
            display: flex;
            &-input {
                margin-right: 20px;
                flex-grow: 1;
            }
            &-btn {
                padding-right: 20px;
                padding-left: 20px;
                flex-shrink: 0;
                flex-grow: 1;
            }
        }
    }
}

.main {
    background: $gradient-blue-1;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    &__inner {
        width: 100%;
        max-width: 1180px;
        margin: 0 auto;
        padding: var(--gap) var(--gap-fluid);
        display: flex;
        align-items: center;
    }
    &__aside {
        max-width: 380px;
        margin-right: var(--gap-fluid);
        flex: 0 0 380px;
        transition: all .7s;
        transition-delay: .5s;
    }
    &__layout {
        background: rgba($color-gray-1, .88);
        flex-grow: 1;
        border-radius: 24px;
    }
}

.bg-el {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    &__item {
        width: 82px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        &:before {
            background: url(../images/bg-hook.svg) center 0 no-repeat;
            background-size: contain;
            width: 100%;
            height: 100%;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            transition: all 1s;
            transition-timing-function: cubic-bezier(.66,1.1,.37,1.02);
            opacity: .5;
            z-index: -1;
        }
        &--1,
        &--2,
        &--3,
        &--4 {
        }
        &--1 {
            margin-right: 880px;
            &:before {
                transition-delay: .5s;
            }
        }
        &--2 {
            margin-right: 638px;
            top: -298px;
            &:before {
                transition-delay: 2s;
            }
        }
        &--3 {
            margin-right: 398px;
            &:before {
                transition-delay: 3s;
            }
        }
        &--4 {
            margin-right: 156px;
            top: -172px;
            &:before {
                transition-delay: 4s;
            }
        }
        &-img {
            background: 50% no-repeat;
            background-size: contain;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 1s;
            transition-timing-function: cubic-bezier(.66,1.1,.37,1.02);
            z-index: -2;
            &--1 {
                background-image: url(../images/bg-el-1.svg);
                width: 228px;
                height: 242px;
                margin: 490px 0 0 -78px;
                transition-delay: .5s;
            }
            &--2 {
                background-image: url(../images/bg-el-2.svg);
                width: 264px;
                height: 264px;
                margin: 436px 0 0 -64px;
                transition-delay: 2s;
            }
            &--3 {
                background-image: url(../images/bg-el-3.svg);
                width: 176px;
                height: 198px;
                margin: 493px 0 0 -80px;
                transition-delay: 3s;
            }
            &--4 {
                background-image: url(../images/bg-el-4.svg);
                width: 158px;
                height: 168px;
                margin: 492px 0 0 -68px;
                transition-delay: 4s;
            }
        }
    }
}

.bg-lines {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    &__item {
        width: 50vw;
        border: 0 solid rgba($color-black-1, .05);
        position: absolute;
        top: -5px;
        bottom: -5px;
        transition: all .8s;
        transition-delay: .35s;
        &:last-child { // it's :nth-child(13), middle line
            margin-left: 1px;
            border-right-width: 2px;
            left: 0;
            opacity: .9;
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            left: 0;
            border-right-width: 2px;
        }
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9),
        &:nth-child(10),
        &:nth-child(11),
        &:nth-child(12) {
            left: 50vw;
            border-left-width: 2px;
        }
        &:nth-child(1) {
            margin-left: -70px;
        }
        &:nth-child(2) {
            margin-left: -140px;
        }
        &:nth-child(3) {
            margin-left: -210px;
        }
        &:nth-child(4) {
            margin-left: -280px;
        }
        &:nth-child(5) {
            margin-left: -350px;
        }
        &:nth-child(6) {
            margin-left: -420px;
        }
        &:nth-child(7) {
            margin-left: 70px;
        }
        &:nth-child(8) {
            margin-left: 140px;
        }
        &:nth-child(9) {
            margin-left: 210px;
        }
        &:nth-child(10) {
            margin-left: 280px;
        }
        &:nth-child(11) {
            margin-left: 350px;
        }
        &:nth-child(12) {
            margin-left: 420px;
        }
    }
}

body:not(.is-animation) {
    .main__aside {
        transform: translateX(-800px);
    }
    .bg-el__item {
        &--1 {
            &:before {
                transform: translateY(-100vh);
            }
        }
        &--2 {
            &:before {
                transform: translateY(-100vh);
            }
        }
        &--3 {
            &:before {
                transform: translateY(-100vh);
            }
        }
        &--4 {
            &:before {
                transform: translateY(-100vh);
            }
        }
        &-img {
            &--1 {
                transform: translateY(100vh);
            }
            &--2 {
                transform: translateY(100vh);
            }
            &--3 {
                transform: translateY(100vh);
            }
            &--4 {
                transform: translateY(100vh);
            }
        }
    }
}

body.is-animation {
    .bg-lines__item {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
        }
        &:nth-child(1) {
            border-radius: 0 50px 50px 0/40%;
        }
        &:nth-child(2) {
            border-radius: 0 120px 120px 0/40%;
        }
        &:nth-child(3) {
            border-radius: 0 155px 155px 0/40%;
        }
        &:nth-child(4) {
            border-radius: 0 205px 205px 0/40%;
        }
        &:nth-child(5) {
            border-radius: 0 230px 230px 0/40%;
        }
        &:nth-child(6) {
            border-radius: 0 260px 260px 0/40%;
        }
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9),
        &:nth-child(10),
        &:nth-child(11),
        &:nth-child(12) {
        }
        &:nth-child(7) {
            border-radius: 50px 0 0 50px/40%;
        }
        &:nth-child(8) {
            border-radius: 120px 0 0 120px/40%;
        }
        &:nth-child(9) {
            border-radius: 155px 0 0 155px/40%;
        }
        &:nth-child(10) {
            border-radius: 205px 0 0 205px/40%;
        }
        &:nth-child(11) {
            border-radius: 230px 0 0 230px/40%;
        }
        &:nth-child(12) {
            border-radius: 260px 0 0 260px/40%;
        }
    }
}