<!DOCTYPE html>
html(lang='ru')
  include includes/head.pug

  body

    #root
      main(role="main").main
        .main__inner
          aside.aside.main__aside
            .aside__inner.aside__inner--theme-gray
              img(src="images/icon/guard-type-1.svg" alt="Проверьте безопасность ваших данных").aside__icon
              h2.aside__title Проверьте безопасность ваших данных
              .content.aside__text
                p Из-за недавнего инцидента с Твиттером, есть риск, что ваши данные могут быть использованы в корыстных целях. Наш антивирус выпустил обновление, которое защищает вас от подобного<br><a href="#">Подробнее на первоисточнике</a>
              form(action="#").aside__form
                input(type="email" name="email" required placeholder="Введите ваш Email").u-input.u-input--size-md.u-input--theme-gray.aside__form-input
                button(type="submit").btn.btn--size-md.btn--theme-accent.aside__form-btn
                  span.btn__inner
                    span.btn__title Пройти проверку
              footer.aside__footer Проверка займет не более 10 секунд
            .aside__inner.aside__inner--theme-gray
              img(src="images/icon/guard-type-1.svg" alt="Проверьте безопасность ваших данных").aside__icon
              .content.aside__prev-link
                p <a href="#">< &nbsp;Назад</a>
              form(action="#").aside__form
                input(type="text" name="code" required placeholder="Введите код полученый с Email").u-input.u-input--size-md.u-input--theme-gray.aside__form-input
                button(type="submit").btn.btn--size-md.btn--theme-accent.aside__form-btn
                  span.btn__inner
                    span.btn__title Начать проверку
              footer.aside__footer Проверка займет не более 10 секунд
            .aside__inner.aside__inner--theme-gray
              .aside__header
                img(src="images/icon/guard-type-1.svg" alt="Проверьте безопасность ваших данных").aside__header-icon
                .aside__header-dots
                  span
                  span
                  span
              .u-progress.aside__progress
                span.btn.btn--size-md.btn--theme-accent.u-progress__line
                  span.btn__inner
                    span.btn__title Идет проверка
                  span(style="width: 50%;").u-progress__line-current
              footer.aside__footer Проверка займет не более 10 секунд
            .aside__inner.aside__inner--theme-red
              .aside__header
                img(src="images/icon/guard-type-2.svg" alt="Ваши данные в опасности!").aside__header-icon
                .aside__header-text
                  p.aside__header-text-title Ваша почта:
                  p.aside__header-text-email Kostik@gmail.com
              h2.aside__title Ваши данные в опасности!
              .content.aside__text
                p <strong>Успейте защитить ваши данные.</strong><br>Подробности отправили вам на почту:<br>kostik@gmail.com
            .aside__inner.aside__inner--theme-green
              .aside__header
                img(src="images/icon/guard-type-3.svg" alt="Ваши данные защищены!").aside__header-icon
              h2.aside__title Ваши данные защищены!
              .content.aside__text
                p Подробности отправили вам на почту:<br>kostik@gmail.com
          .layout.main__layout
            .layout__result
              .layout__result-content
                h2.layout__result-content-title Найденные данные
                .layout__result-content-list
                  .line-info.layout__result-content-list-line
                    .line-info__title Ваша ФИО:
                    .line-info__body
                      .line-info__list
                        .info-badge.info-badge--theme-fill.line-info__list-item
                          span.info-badge__title Константинов
                        .info-badge.info-badge--theme-fill.line-info__list-item
                          span.info-badge__title Константин
                        .info-badge.info-badge--theme-fill.line-info__list-item
                          span.info-badge__title Константинопольский
                  .line-info.layout__result-content-list-line
                    .line-info__title Ваши контакты:
                    .line-info__body
                      .line-info__list
                        .info-badge.info-badge--theme-fill.line-info__list-item
                          span.info-badge__title +79990592985
                        .info-badge.info-badge--theme-fill.line-info__list-item
                          span.info-badge__suptitle Паспорт:
                          span.info-badge__title 42-33 837281
                  .line-info.layout__result-content-list-line
                    .line-info__title Ваших файлов:
                    .line-info__body
                      .line-info__list
                        .info-badge.info-badge--theme-outline.line-info__list-item
                          span.info-badge__title 5 938
                          span.info-badge__subtitle Картинок
                        .info-badge.info-badge--theme-outline.line-info__list-item
                          span.info-badge__title 349
                          span.info-badge__subtitle Видео
                        .info-badge.info-badge--theme-outline.line-info__list-item
                          span.info-badge__title 1 293
                          span.info-badge__subtitle Другое
                      a(href="#").btn.btn--size-xs.btn--theme-accent-border.line-info__btn-download
                        span.btn__inner
                          img(src="images/icon/download.svg").btn__icon.btn__icon--rtl
                          span.btn__title Скачать (15гб)
                .layout__result-content-media
                  .layout__result-content-media-row
                    .layout__result-content-media-row-col
                      .media-card.media-card--blur
                        img(src="images/media-card-1.jpg")
                    .layout__result-content-media-row-col
                      .media-card.media-card--blur
                        img(src="images/media-card-2.jpg")
                    .layout__result-content-media-row-col
                      .media-card.media-card--blur
                        img(src="images/media-card-3.jpg")
                    .layout__result-content-media-row-col
                      .media-card.media-card--blur
                        img(src="images/media-card-4.jpg")
                    .layout__result-content-media-row-col
                      .media-card.media-card--blur
                        img(src="images/media-card-5.jpg")
                    .layout__result-content-media-row-col
                      .media-card.media-card--blur
                        img(src="images/media-card-6.jpg")
                    .layout__result-content-media-row-col
                      .media-card.media-card--blur
                        img(src="images/media-card-7.jpg")
                    .layout__result-content-media-row-col
                      .media-card.media-card--blur
                        img(src="images/media-card-8.jpg")
                    .layout__result-content-media-row-col
                      .media-card.media-card--blur
                        img(src="images/media-card-9.jpg")
                    .layout__result-content-media-row-col
                      .media-card.media-card--blur
                        img(src="images/media-card-10.jpg")
                    .layout__result-content-media-row-col
                      .media-card.media-card--blur
                        img(src="images/media-card-11.jpg")
                    .layout__result-content-media-row-col
                      .media-card.media-card--blur
                        img(src="images/media-card-12.jpg")
                    .layout__result-content-media-row-col
                      .media-card.media-card--blur
                        img(src="images/media-card-13.jpg")
                    .layout__result-content-media-row-col
                      .media-card.media-card--blur
                        img(src="images/media-card-14.jpg")
                    .layout__result-content-media-row-col
                      .media-card.media-card--blur
                        img(src="images/media-card-15.jpg")
                    .layout__result-content-media-row-col
                      .media-card.media-card--blur
                        img(src="images/media-card-16.jpg")
                .layout__result-content-access-password Пароль к архиву будет доступен при установке последнего обновления в антивирусе
              footer.layout__result-footer
                h2.layout__result-footer-title Что делать в таких случаях?
                .content.layout__result-footer-text
                  p Ваш антивирус должен иметь самые свежие обновления, оберегающие ваши устройства от взлома личных данных и получения доступа к вашим счетам.
                button(type="submit").btn.btn--size-md.btn--theme-access.layout__result-footer-btn
                  span.btn__inner
                    img(src="images/icon/guard-type-3.svg").btn__icon.btn__icon--rtl
                    span.btn__title Установить антивирус с последним обновлением
            .layout__protect
              h2.layout__protect-title Вы защитите:
              .layout__protect-body
                ul.access-list.layout__protect-body-list
                  li Ваши личные данные
                  li Ваши контакты
                  li Ваши медиа файлы и другое
                aside.protect-aside.layout__protect-body-aside
                  .protect-aside__body
                    .protect-aside__inner.protect-aside__inner--theme-green
                      img(src="images/icon/guard-type-3.svg" alt="7 days FREE").protect-aside__icon
                      .protect-aside__title 7 days<br><strong>FREE</strong>
                      .protect-aside__subtitle after $24/m
                    //- .protect-aside__inner.protect-aside__inner--theme-yellow
                    //-   img(src="images/icon/type-payments-1.svg").protect-aside__icon
                    //-   .protect-aside__title
                    //-     strong $24
                    //- .protect-aside__inner.protect-aside__inner--theme-yellow
                    //-   img(src="images/icon/type-payments-2.svg").protect-aside__icon
                    //-   .protect-aside__title
                    //-     strong $24
                    //- .protect-aside__inner.protect-aside__inner--theme-blue
                    //-   img(src="images/icon/type-payments-3.svg").protect-aside__icon
                    //-   .protect-aside__title
                    //-     strong $24
              .layout__protect-payments
                .layout__protect-payments-content
                  h3.layout__protect-payments-title Выберите способ оплаты
                  .layout__protect-payments-list
                    label.u-radio.u-radio--size-md.u-radio--theme-gray.layout__protect-payments-list-card
                      input(type="radio" name="payments[]" checked value="qiwi").u-radio__control
                      span.u-radio__icon
                      img(src="images/icon/type-payments-1.svg" alt="qiwi").u-radio__img.u-radio__img--ltr
                    label.u-radio.u-radio--size-md.u-radio--theme-gray.layout__protect-payments-list-card
                      input(type="radio" name="payments[]" value="bitcoin").u-radio__control
                      span.u-radio__icon
                      img(src="images/icon/type-payments-2.svg" alt="bitcoin").u-radio__img.u-radio__img--ltr
                    label.u-radio.u-radio--size-md.u-radio--theme-gray.layout__protect-payments-list-card
                      input(type="radio" name="payments[]" value="visa").u-radio__control
                      span.u-radio__icon
                      img(src="images/icon/type-payments-3.svg" alt="visa").u-radio__img.u-radio__img--ltr
                button(type="submit").btn.btn--size-md.btn--theme-accent.layout__protect-payments-btn
                  span.btn__inner
                    span.btn__title Перейти к оплате&nbsp;&nbsp;
                      span $24
            .layout__transfer
              aside.protect-aside.layout__transfer-aside
                .protect-aside__body
                  .protect-aside__inner.protect-aside__inner--theme-yellow
                    img(src="images/icon/type-payments-1.svg").protect-aside__icon
                    .protect-aside__title
                      strong $24
              .layout__transfer-content
                h3.layout__transfer-title Переведите $24 по указанным реквизитам ниже
                .content.layout__transfer-text
                  p В течении часа мы проверим  ваш чек и вышлем на эл. почту ссылку на скачивание антивируса с последним обновлением
                .layout__transfer-group
                  button(type="button" data-copy="+79990592985" data-copy-text="скопировано").js-copy-trigger.u-input-area.u-input-area--size-sm.u-input-area--theme-gray.layout__transfer-group-input +79990592985
                  button(type="submit").btn.btn--size-sm.btn--theme-accent.layout__transfer-group-btn
                    span.btn__inner
                      span.btn__title Загрузить чек
            .layout__transfer
              aside.protect-aside.layout__transfer-aside
                .protect-aside__body
                  .protect-aside__inner.protect-aside__inner--theme-yellow
                    img(src="images/icon/type-payments-2.svg").protect-aside__icon
                    .protect-aside__title
                      strong 0.0011
              .layout__transfer-content
                h3.layout__transfer-title Переведите 0.0011 BTC по реквизитам ниже
                .content.layout__transfer-text
                  p В течении часа мы проверим  ваш чек и вышлем на эл. почту ссылку на скачивание антивируса с последним обновлением
                .layout__transfer-group
                  button(type="button" data-copy="MNV7DK48VNEDKFEO04IG3U9G8JRO3NG43T4GN" data-copy-text="скопировано").js-copy-trigger.u-input-area.u-input-area--size-sm.u-input-area--theme-gray.layout__transfer-group-input MNV7DK48VNEDKFEO04IG3U9G8JRO3NG43T4GN
                  button(type="submit").btn.btn--size-sm.btn--theme-accent.layout__transfer-group-btn
                    span.btn__inner
                      span.btn__title Загрузить чек
            .layout__transfer
              aside.protect-aside.layout__transfer-aside
                .protect-aside__body
                  .protect-aside__inner.protect-aside__inner--theme-blue
                    img(src="images/icon/type-payments-3.svg").protect-aside__icon
                    .protect-aside__title
                      strong $24
              .layout__transfer-content
                h3.layout__transfer-title Переведите $24 по реквизитам ниже
                .content.layout__transfer-text
                  p В течении часа мы проверим  ваш чек и вышлем на эл. почту ссылку на скачивание антивируса с последним обновлением
                .layout__transfer-group
                  button(type="button" data-copy="4934323321454312" data-copy-text="скопировано").js-copy-trigger.u-input-area.u-input-area--size-sm.u-input-area--theme-gray.layout__transfer-group-input 4934 3233 2145 4312
                  button(type="submit").btn.btn--size-sm.btn--theme-accent.layout__transfer-group-btn
                    span.btn__inner
                      span.btn__title Загрузить чек

    include includes/foot.pug