<!DOCTYPE html>
html(lang='ru')
  include includes/head.pug

  body

    #root
      main(role="main").main
        .main__inner
          aside.aside.main__aside
            .aside__inner.aside__inner--theme-green
              .aside__header
                img(src="images/icon/guard-type-3.svg" alt="Ваши данные защищены!").aside__header-icon
              h2.aside__title Ваши данные защищены!
              .content.aside__text
                p Подробности отправили вам на почту:<br>kostik@gmail.com
          .layout.main__layout
            .layout__transfer
              aside.protect-aside.layout__transfer-aside
                .protect-aside__body
                  .protect-aside__inner.protect-aside__inner--theme-blue
                    img(src="images/icon/type-payments-3.svg").protect-aside__icon
                    .protect-aside__title
                      strong $24
              .layout__transfer-content
                h3.layout__transfer-title Переведите $24 по реквизитам ниже
                .content.layout__transfer-text
                  p В течении часа мы проверим  ваш чек и вышлем на эл. почту ссылку на скачивание антивируса с последним обновлением
                .layout__transfer-group
                  button(type="button" data-copy="4934323321454312" data-copy-text="скопировано").js-copy-trigger.u-input-area.u-input-area--size-sm.u-input-area--theme-gray.layout__transfer-group-input 4934 3233 2145 4312
                  button(type="submit").btn.btn--size-sm.btn--theme-accent.layout__transfer-group-btn
                    span.btn__inner
                      span.btn__title Загрузить чек

    include includes/foot.pug