<!DOCTYPE html>
html(lang='ru')
  include includes/head.pug

  body

    #root
      main(role="main").main
        .main__inner
          aside.aside.main__aside
            .aside__inner.aside__inner--theme-gray
              .aside__header
                img(src="images/icon/guard-type-1.svg" alt="Проверьте безопасность ваших данных").aside__header-icon
                .aside__header-dots
                  span
                  span
                  span
              .u-progress.aside__progress
                span.btn.btn--size-md.btn--theme-accent.u-progress__line
                  span.btn__inner
                    span.btn__title Идет проверка
                  span(style="width: 50%;").u-progress__line-current
              footer.aside__form-footer Проверка займет не более 10 секунд
          .layout.main__layout
            .layout__transfer
              aside.protect-aside.layout__transfer-aside
                .protect-aside__body
                  .protect-aside__inner.protect-aside__inner--theme-yellow
                    img(src="images/icon/type-payments-1.svg").protect-aside__icon
                    .protect-aside__title
                      strong $24
              .layout__transfer-content
                h3.layout__transfer-title Переведите $24 по указанным реквизитам ниже
                .content.layout__transfer-text
                  p В течении часа мы проверим  ваш чек и вышлем на эл. почту ссылку на скачивание антивируса с последним обновлением
                .layout__transfer-group
                  button(type="button" data-copy="+79990592985" data-copy-text="скопировано").js-copy-trigger.u-input-area.u-input-area--size-sm.u-input-area--theme-gray.layout__transfer-group-input +79990592985
                  button(type="submit").btn.btn--size-sm.btn--theme-accent.layout__transfer-group-btn
                    span.btn__inner
                      span.btn__title Загрузить чек

    include includes/foot.pug