<!DOCTYPE html>
html(lang='ru')
  include includes/head.pug

  body

    #root
      main(role="main").main
        .main__inner
          aside.aside.main__aside
            .aside__inner.aside__inner--theme-gray
              img(src="images/icon/guard-type-1.svg" alt="Проверьте безопасность ваших данных").aside__icon
              .content.aside__prev-link
                p <a href="#">< &nbsp;Назад</a>
              form(action="#").aside__form
                input(type="text" name="code" required placeholder="Введите код полученый с Email").u-input.u-input--size-md.u-input--theme-gray.aside__form-input
                button(type="submit").btn.btn--size-md.btn--theme-accent.aside__form-btn
                  span.btn__inner
                    span.btn__title Начать проверку
                footer.aside__form-footer Проверка займет не более 10 секунд
          .layout.main__layout
            .layout__protect
              h2.layout__protect-title Вы защитите:
              .layout__protect-body
                ul.access-list.layout__protect-body-list
                  li Ваши личные данные
                  li Ваши контакты
                  li Ваши медиа файлы и другое
                aside.protect-aside.layout__protect-body-aside
                  .protect-aside__body
                    .protect-aside__inner.protect-aside__inner--theme-green
                      img(src="images/icon/guard-type-3.svg" alt="7 days FREE").protect-aside__icon
                      .protect-aside__title 7 days<br><strong>FREE</strong>
                      .protect-aside__subtitle after $24/m
              .layout__protect-payments
                .layout__protect-payments-content
                  h3.layout__protect-payments-title Выберите способ оплаты
                  .layout__protect-payments-list
                    label.u-radio.u-radio--size-md.u-radio--theme-gray.layout__protect-payments-list-card
                      input(type="radio" name="payments[]" checked value="qiwi").u-radio__control
                      span.u-radio__icon
                      img(src="images/icon/type-payments-1.svg" alt="qiwi").u-radio__img.u-radio__img--ltr
                    label.u-radio.u-radio--size-md.u-radio--theme-gray.layout__protect-payments-list-card
                      input(type="radio" name="payments[]" value="bitcoin").u-radio__control
                      span.u-radio__icon
                      img(src="images/icon/type-payments-2.svg" alt="bitcoin").u-radio__img.u-radio__img--ltr
                    label.u-radio.u-radio--size-md.u-radio--theme-gray.layout__protect-payments-list-card
                      input(type="radio" name="payments[]" value="visa").u-radio__control
                      span.u-radio__icon
                      img(src="images/icon/type-payments-3.svg" alt="visa").u-radio__img.u-radio__img--ltr
                button(type="submit").btn.btn--size-md.btn--theme-accent.layout__protect-payments-btn
                  span.btn__inner
                    span.btn__title Перейти к оплате&nbsp;&nbsp;
                      span $24

    include includes/foot.pug