<!DOCTYPE html>
html(lang='ru')
  include includes/head.pug

  body

    #root
      main(role="main").main
        .main__inner
          aside.aside.main__aside
            .aside__inner.aside__inner--theme-red
              .aside__header
                img(src="images/icon/guard-type-2.svg" alt="Ваши данные в опасности!").aside__header-icon
                .aside__header-text
                  p.aside__header-text-title Ваша почта:
                  p.aside__header-text-email Kostik@gmail.com
              h2.aside__title Ваши данные в опасности!
              .content.aside__text
                p <strong>Успейте защитить ваши данные.</strong><br>Подробности отправили вам на почту:<br>kostik@gmail.com
          .layout.main__layout
            .layout__transfer
              aside.protect-aside.layout__transfer-aside
                .protect-aside__body
                  .protect-aside__inner.protect-aside__inner--theme-yellow
                    img(src="images/icon/type-payments-2.svg").protect-aside__icon
                    .protect-aside__title
                      strong 0.0011
              .layout__transfer-content
                h3.layout__transfer-title Переведите 0.0011 BTC по реквизитам ниже
                .content.layout__transfer-text
                  p В течении часа мы проверим  ваш чек и вышлем на эл. почту ссылку на скачивание антивируса с последним обновлением
                .layout__transfer-group
                  button(type="button" data-copy="MNV7DK48VNEDKFEO04IG3U9G8JRO3NG43T4GN" data-copy-text="скопировано").js-copy-trigger.u-input-area.u-input-area--size-sm.u-input-area--theme-gray.layout__transfer-group-input MNV7DK48VNEDKFEO04IG3U9G8JRO3NG43T4GN
                  button(type="submit").btn.btn--size-sm.btn--theme-accent.layout__transfer-group-btn
                    span.btn__inner
                      span.btn__title Загрузить чек

    include includes/foot.pug